.row {
    @mixin clearfix {

    }
    &--flex {
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--gutter {
        padding-right: -4.0625rem;

        &-small {
            padding-right: -2.45rem;
        }

        &-large {
            padding-right: -5.45rem;
        }
    }
    &--gutter > div {
        &:not(:last-child){
            @mixin atMedium {
                padding-right: 4.0625rem;
            }
        }
    }

    &--gutter-small > div {
        &:not(:last-child){
            @mixin atMedium {
                padding-right: 2.45rem;
            }
        }
    }

    &--gutter-large > div {
        &:not(:last-child){
            @mixin atMedium {
                padding-right: 5.45rem;
            }
        }
    }

    &--insert-top-padding {
        padding-top: 5.6rem;
    }

    &--spacing > div {
        &:not(:last-child){
            margin: 0 0 6rem 0;
        }

        @mixin atMedium {
            &:not(:last-child){
                margin: 0;
            }
        }
    }
}

.column-1-of-3 {
    @mixin atMedium {
        float: left;
        width: 33.3333%;
    }

    &--enlarge {
        @mixin atMedium {
            width: 34%;
        } 
    }
}

.column-1-of-4 {
    @mixin atMedium {
        float: left;
        width: 25%;
    }

    &--enlarge {
        @mixin atMedium {
            width: 29%;
        } 
    }
}



.column-2-of-4 {
    @mixin atMedium {
        float: left;
        width: 50%; 
    }
}

.column-3-of-4 {
    @mixin atMedium {
        float: left;
        width: 75%; 
    }

    &--reduce {
        @mixin atMedium {
            width: 71%;
        }   
    }
}