.row {
    @mixin clearfix {

    }
    &--gutter {
        padding-right: -4.0625rem;

        &-large {
            padding-right: -5.45rem;
        }
    }
    &--gutter > div {
        &:not(:last-child){
            @mixin atMedium {
                padding-right: 4.0625rem;
            }
        }
    }

    &--gutter-large > div {
        &:not(:last-child){
            @mixin atMedium {
                padding-right: 5.45rem;
            }
        }
    }
}

.column-1-of-4 {
    @mixin atMedium {
        float: left;
        width: 25%;
    }

    &--enlarge {
        @mixin atMedium {
            width: 29%;
        } 
    }
}



.column-2-of-4 {
    @mixin atMedium {
        float: left;
        width: 50%; 
    }
}

.column-3-of-4 {
    @mixin atMedium {
        float: left;
        width: 75%; 
    }

    &--reduce {
        @mixin atMedium {
            width: 71%;
        }   
    }
}