.heading {
    font-weight: 100;
    font-size: 1.9rem;
    color: $mainBlue;

    @mixin atSmall {
        font-size: 2.875rem;
    }

    &--centered {
        text-align: center;
    }

    &--orange {
        color: $mainOrange;
    }

    &--regular {
        font-size: .8375rem;
        font-weight: 400;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &--small {
        font-size: 1.2rem;

        @mixin atSmall {
            font-size: 1.675rem;
        }
    }

    &--medium {
        font-size: 1.675rem;

        @mixin atMedium {
            font-size: 1.9rem;
        }
    }

    &--large {
        font-size: 3rem;
        @mixin atMedium {
            font-size: 4.75rem;
        }
    }

    &--narrow {
        max-width: 31.25rem;
        margin-left: auto;
        margin-right: auto;
    }

    &--bold {
        font-weight: 300;
    }

    &--white {
        color: $white;
    }

    &__icon {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: .5rem;

        @mixin atSmall {
            margin: 0 1rem -.5rem 0;
            display: inline-block;            
        }

        @mixin atMedium {
            margin: 0 1rem -.25rem 0;
            display: inline-block;            
        }
    }
}