.navigation {
    
    & > ul {
        margin: 0;
        padding: .7rem 0;
        @mixin clearfix {}

        & > li {
            list-style: none;
            display: inline-block;
            padding-right: .5rem;

            &:last-child {
                padding-right: 0;

                @mixin atMedium {
                    padding-right: 1.25rem;
                }
            }

            @mixin atMedium {
                padding-right: 1.25rem;
                float: left;
                display: block;
            }
            
            & > a {
                text-decoration: none;
                font-weight: 300;
                color: $white;
                background-color: rgba($mainBlue, .7);

                @mixin atMedium {
                    padding: 0;
                    background-color: transparent;
                }
            }
        }
    } 
    &--float-right {
        @mixin atMedium {
            float: right;
        }
    }

    &__mobile-icon {
        background-color: $white;
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        z-index: 5;

        @mixin atMedium {
            display: none;
        }
    }
}